.github/copilot-instructions.md
**/dist/
.github/AGENT.md
**/.env
.venv/Include
.venv/Lib
.venv/Scripts
.venv/.gitignore
.venv/pyvenv.cfg
/__pycache__/
*.pyc
.DS_Store
.idea/
**/dist/
** /.vscode/
node_modules/*
